<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/signup.css">
</head>
<body>
<div id="account-form-container" ng-controller="signupCtrl">
    <form class="form-horizontal well" name="signupForm">
        <h3>Signup</h3>
        <hr>
        <fieldset>
            <div class="form-group form-group-sm">
                <lable class="control-label col-md-3">Username:</lable>
                <div class="col-md-9">
                    <input name="username" type="text" class="form-control input-lg" required ng-model="username.value">
                    <span class="error"
                          ng-show="submitted && signupForm.username.$dirty && signupForm.username.$invalid">
                        <small class="error" ng-show="signupForm.username.$error.required">请填写您的用户名</small>
                    </span>
                </div>
            </div>

            <div class="form-group form-group-sm">
                <lable class="control-label col-md-3">Email:</lable>
                <div class="col-md-9">
                    <input name="email" type="email" class="form-control input-lg" required ng-model="email.value"
                           ng-pattern="/^([a-zA-Z0-9]+[_|\_|\.\-]?)*[a-zA-Z0-9]+@\w+\.\w+$/">
                    <span class="error" ng-show="signupForm.email.$dirty && signupForm.email.$invalid">
                        <small class="error" ng-show="signupForm.email.$error.required">请填写您的常用邮箱</small>
                        <small class="error" ng-show="signupForm.email.$error.pattern">邮箱格式不正确</small>
                    </span>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <lable class="control-label col-md-3">Password:</lable>
                <div class="col-md-9">
                    <input name="password" type="password" class="form-control input-lg" required
                           ng-model="password.value" ng-maxlength="18" ng-minlength="6">
                    <span class="error" ng-show="signupForm.password.$dirty && signupForm.password.$invalid">
                        <small class="error" ng-show="signupForm.password.$error.required">请填写您的登录密码</small>
                        <small class="error" ng-show="signupForm.password.$error.minlength">密码未达到最小长度6</small>
                        <small class="error" ng-show="signupForm.password.$error.maxlength">密码超过最大允许长度18</small>
                    </span>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <lable class="control-label col-md-3">Again Password:</lable>
                <div class="col-md-9">
                    <input name="password2" type="password" class="form-control input-lg" required
                           ng-model="password2.value" ng-maxlength="18" ng-minlength="6"
                           data-password-verify="password.value">
                    <span class="error" ng-show="signupForm.password2.$dirty && signupForm.password2.$invalid">
                        <small class="error" ng-show="signupForm.password2.$error.required">请填写您的登录密码</small>
                        <small class="error" ng-show="signupForm.password2.$error.minlength">密码未达到最小长度6</small>
                        <small class="error" ng-show="signupForm.password2.$error.maxlength">密码超过最大允许长度18</small>
                        <small class="error" ng-show="signupForm.password2.$error.passwordVerify">两次输入的密码不一致</small>
                    </span>
                </div>
            </div>

            <div class="form-group form-group-sm" ng-if="alert.msg != ''">
                <alert type="{{alert.type}}" close="closeAlert()">
                    <i class="fa fa-lg fa-fw" ng-class="alert.iconClass"></i>
                    {{alert.msg}}
                </alert>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-md-offset-3 col-md-9">
                    <button type="button" class="btn" ng-click="cancel()">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-click="signup(signupForm)">Submit
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-ui-utils/ui-utils.min.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="./controllers/signup.js"></script>
</body>
</html>